---
title: Contact me
body_class: index
---
#blogContainer
  .entryPreview
    %p 
      p: 808 366 1708<br/>
      e: j@jjcm.org<br/>
      a: 825 Lake Washington Blvd S., Seattle, Wa, 98144<br/>
      f: <a href="http://facebook.com/pwnies">http://facebook.com/pwnies</a><br/>
      r: <a href="http://reddit.com/user/pwnies">http://reddit.com/user/pwnies</a><br/>

