---
title: Jacob's art
body_class: index
---
#portfolioContainer
  = image_tag "/images/finished2.jpg", :class => "fullArt"
  .step
    %h1
      fruity center
  = image_tag "/images/girlLarge.jpg", :class => "fullArt"
  .step
    %h1
      bee girl
  = image_tag "/images/listenLarge.jpg", :class => "fullArt"
  .step
    %h1
      listen
  = image_tag "/images/kaenaLarge.jpg", :class => "fullArt"
  .step
    %h1
      kaena
