---
title: Jacob's blog posts
body_class: index
---

#blogContainer
  .entryPreview
    %a.noDecoration{:href => "/blog/redesigning_photoshops_font_panel/"}
      %h3 Redesigning Photoshop's Font Panel
      .date
        May 5, 2014
      .blogPreviewImage
        = image_tag "/images/photoshopFontPanelHero.png"
    %p
      A go at making Adobe Photoshop's font panel a little more usable. 
  .entryPreview
    %a.noDecoration{:href => "/blog/mac_pros_and_modularity/"}
      %h3 Mac Pros, Ara, and modularity
      .date
        Octorber 30, 2013
      .blogPreviewImage
        %img{:src=>"/images/modularityHero.jpg", :style => "position: relative; top: -157px"}
    %p
      Are the closed system formats of Mac Pros, or modular interchangable systems like Ara the future of devices?
  .entryPreview
    %a.noDecoration{:href => "/blog/anatomy_of_a_surreal_photoshoot/"}
      %h3 Anatomy of a surreal photoshoot
      .date
        July 10, 2013
      .blogPreviewImage
        %img{:src=>"/images/finished2.jpg", :style => "position: relative; top: -660px"}
    %p
      In this post I go through the basics of a surreal photoshoot from the early planning stages, to the shooting, and finally to the finishing in photoshop. 
  .entryPreview
    %a.noDecoration{:href => "/blog/real_world_analysis_of_webp/"}
      %h3 Real world analysis of webp versus jpg
      .date
        October 2, 2010
      .blogPreviewImage
        %img{:src=>"/images/blog/webp/webpBlogPreview.jpg"}
    %p
      A resurected post from my old blog at englishhard.com, comparing the differences between Google's WebP and the industry standard JPG. 

