---
title: All about Jacob
body_class: index
---
%p 
  I admire your effort for trying, sadly, there's nothing here except for 
  %blink a blink tag. 
  It probably doesn't even work in your modern browser. Bummer.
